!
! .Xresources
!

URxvt*scrollBar: false
URxvt*font:     xft:PxPlus IBM CGAthin:size=6:antialias=false:hinting=false
URxvt*boldFont: xft:PxPlus IBM CGA:antialias=false:hinting=false

!URxvt*inputMethod: ibus
!URxvt*preeditType: OverTheSpot

! uncomment to activate transparency (also needs compositor)
URxvt*depth: 32


!URxvt*transparent: true
!URxvt*shading: 99
!URxvt*blurRadius: 10

*.foreground:  #ffffff
*.background:  rgba:0000/0000/0000/ffff

*.cursorColor: #f1f1f0

! black
*.color0:  #333333
*.color8:  #888888
! red
*.color1:  #ff007f
*.color9:  #ff007f
! green
*.color2:  #7fff00
*.color10: #7fff00
! yellow
*.color3:  #ff7f00
*.color11: #ff7f00
! blue
*.color4:  #007fff
*.color12: #007fff
! magenta
*.color5:  #9f3fff
*.color13: #9f3fff
! cyan
*.color6:  #00ff7f
*.color14: #00ff7f
! white
*.color7:  #aaaaaa
*.color15: #ffffff

